<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Craftsphere hello world simple app</title>
  </head>
  <body style="background-color:powderblue;">
    <h1>Craftsphere hello world simple app!</h1>


<br>
<br>
<h2>What Can JavaScript Do?</h2>

<p id="demo">JavaScript can change HTML content.</p>

<button type="button" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>Click Me!</button>

    
  </body>
</html>